@charset "UTF-8";


/* 마이플레이스 메인화면 */
.header{position: relative; }
.pb_type{width : 100px; height:32px; margin-left: 350px; border-radius: 10px; border: 1px solid lightgray;}
.pb_search{width:280px; height:32px; margin-left: 5px; border: 1px solid lightgray; border-radius: 10px;}
.pb_searchplace { position: absolute;
    width: 300px;
    height: 40px;
    margin-left: 174px;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-bottom: 20px;
}
.saveBtn{ 
	position: absolute;	
	margin-left: 485px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background: white;
   
}
#write{position: absolute; height: 6px; right: 350px; width : 28px; height: 33px;}
#search{position: absolute;
    width: 25px;
    height: 25px;
    left: 705px;
    top: 4px;
    cursor: pointer;}
#psearch{position:absolute; width: 25px; height: 25px; left: 542px; top: 9px; cursor: pointer;} 
.pboard{display: grid;
    width: 1018px;
    grid-template-columns: 1fr 1fr;
    margin: 29px auto;}
.feed_img {width : 178px; height:178px;}
.profile{width: 38px; height: 38px; display: inline-block;}
.writer{display: inline-block; font-size: 13px; margin-left: 7px;}
.innerbox{ display: flex;  flex-direction: column;} 
 .feedbox{ display : flex; border : 1px solid lightgray;  width:482px;height: 178px;margin:13px; background:white; }  
.feed_main{display : flex; flex-direction: column; margin-top: 18px; margin-left: 14px;}
.f_img{width: 178px; height : 100%;}
.top{display : flex;  align-items: center;}
.date{font-size : 10px; margin-left: 73px;}
.feed_box2{    background-color: white;
    border-radius: 20px;
    width: 900px;
    margin: 20px;
    min-height: auto;
    padding-bottom: 20px;
}

.pb_middle{margin-top : 10px;}
.pb_middle a{text-decoration: none; color: black;}

.pb_bottom{display: flex; margin-top: 56px;}
.pb_bottom img{width : 20px; height: 20px;}
.like_ck{display: none;}
.hit{ display:flex; justify-content: center; align-items: center; margin-left : 10px;}
.hit p{font-size:13px; margin-left : 10px;}
.like{display:flex; justify-content: center; align-items: center; margin-left:19px;}
.like p{font-size:13px; margin-left : 6px;}
.unlike{display:flex; justify-content: center; align-items: center; margin-left:19px;}
.unlike p{font-size:13px; margin-left : 6px;}

.viewMore{display: flex; justify-content: center;}
.morebtn{width : 35px; height : 28px; margin-bottom: 30px; cursor: pointer;}
.ck{display: none;}

/* 게시글 등록 */
.writebody{ margin: 50px auto;   width: 1369px;}
.wr_header{border-bottom: 2px solid black;}
.writebody h1 {margin-bottom: 20px;}


.rg_images, .title, .content{display : flex; margin-top: 25px;}
.text{position: relative;  font-size: 25px; width:150px; margin-left:20px; }
.text span{font-size:13px;}

.rg_images, .wr_title{border-bottom: 2px solid rgb(217, 213, 213);}
.rg_images{height: 200px; padding-bottom: 25px; }
.file{display:none;}

.file_background{ display: flex; justify-content: center; align-items: center; width: 200px; height: 200px; background:rgb(241 241 241); border:2px solid rgb(198 195 189) }
.img_up{ width:50px; height: 50px; cursor: pointer;}
.img{ width:200px; height: 200px;}
.img_div{position: relative;}
.img_del{position: absolute; top: 20px; right:20px; z-index:1; width:18px; height:18px; cursor: pointer;}

#maptex{margin-top: -40px;}
.title{padding-bottom: 25px;}
#maxTitle{margin-top: 5px; margin-left: 40px;}
.title textarea{padding-top:7px; padding-left:8px; border-bottom: 2px solid rgb(217, 213, 213);}
.place{padding-bottom: 69px; border-bottom: 2px solid black;}
#maxContent{margin-top: 10px; position: absolute; bottom: -29px; right: 0px;}
.content textarea{padding-top:7px; padding-left:8px;}
.wrc{position: relative;}
.button{ height : 100px;}
.upload_btn {
	border-radius:25px;
	text-align:center;
	font-size:20px;
	color:white;
	padding: 1px 40px;
	background: black;
	border-width:0px;
	margin-left:1212px;
	margin-top: 20px;
}

.upload_btn:active {position:relative; top:3px}
.upload_btn:hover {background: #d6d6d6;}


/* 상세보기 */
.main_body {display: flex; justify-content: center; padding-top: 20px; background-color: #FAFAFA;}

.feed_box {
    background-color: white;
    border-radius : 20px;
    width: 500px;
    margin: 20px;
    min-height: auto;
    padding-bottom: 20px;
}

.feedImg{ width: 500px; object-fit: contain; height : 300px;}
.feed_content{padding: 0px 10px; margin-bottom: 10px;}
.feed_like{padding: 0px 10px;}
.feed_reply{padding: 0px 10px; display: flex; flex-direction: column; margin-top: 20px;}
.feed_txt{font-size: 18px;  margin-left: 40px;}
.feed_name{padding: 10px; display: flex; align-items: center; margin-top: 20px; margin-bottom: 20px; margin-left: 70px;}
.feed_name_txt{font-size: 14px; padding: 0px 10px; font-weight: bold;}
.profile_box {width: 40px; height: 40px; border-radius: 70%; overflow: hidden;}
.profile_img {width: 100%; height: 100%; object-fit: cover;}
.name_content{display: flex; flex-direction: column;}
.name_content_txt{
    font-size: 12px;
    padding: 0px 10px;
    font-weight: bold;
    color: lightgray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
}

.big_profile_box {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
}


.mem_header{display : flex; justify-content: end; background-color: #FAFAFA; }
#modify{margin-right : 25px;}
#modify , #delete{padding : 1px 15px; margin-right: 20px; cursor: pointer; border-radius: 20px; width : 70px; height:30px; background: white;}
.mem_top{ display : flex; align-items: center; margin-top: 20px;}
.mem_top .m_date{margin-left : 494px;}
.mem_top img {width : 60px; height : 60px;}
.mem_top .m_writer{margin-left : 15px; font-size: 25px; font-weight: bold;}

.mem_title .mem_t{margin-top: 20px; font-size: 25px; font-weight: 900; word-break: break-all;}
.mem_content .mem_ct{margin-top: 35px; font-size: 18px; word-break: break-all;}
.mDate{color : rgb(174, 174, 178); font-size : 14px; margin-top: 17px;}

.mem_btns{display : flex; margin-top:35px; margin-bottom : 20px; margin-left: 12px;}

.mem_btns img{width : 30px; height : 30px; }
#mLike{cursor: pointer;}
#mUnlike{cursor: pointer;}
#mNotify{cursor: pointer;}
.mem_btns div{display : flex; justify-content: center; align-items: center;}
.m_notify{margin-left : 246px;}
.m_like, .m_unlike{margin-left: 30px;}
#htext, #lktext, #untext{margin-left:4px;}

/* .mem_img {display : grid;  grid-template-columns:repeat(2, 1fr);} */
.mem_img{margin-top : 20px;}
/* .mem_img img:nth-child(1){ grid-column : 1 / 4;} */
.mem_img img{width : 100%; height: 600px; }


/* 관리자 신고체크  부분 */
.notify_con{display:flex; align-items:center; position:absolute; position: absolute; top: 32px;  right: 303px;}
.no_check{width: 18px; height: 18px;}
.notify_con p{margin-left: 10px;  font-size: 14px; font-weight: bold;}

.bottom_notify{display:flex; justify-content: center; align-items: center; margin-left:428px; }
.bottom_notify p{font-size:16px; margin-left : 6px;}
.no{display: none;}