<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="member">

<!-- 동적 쿼리 (제목으로 검색 데이터 안들어오면 실행x) -->
    <sql id="dynamicCondition">
    	<where>
    		<if test="stext != ''">
    			mem_nickname like '%'||#{stext}||'%'
    		</if>
    	</where>
    </sql>
    
	<select id="memberAllList" resultType="memberVo">
		select * from member
	</select>

	<insert id="memberInsert" parameterType="memberVo">
		insert into member (mem_id, mem_pw, mem_name, mem_tel, mem_mail,
							mem_add, mem_bir, mem_gend, mem_nickname, admin_auth)
		values (#{mem_id}, SHA256.ENCRYPT(#{mem_pw}), #{mem_name}, #{mem_tel}, #{mem_mail},
				#{mem_add}, #{mem_bir}, #{mem_gend}, #{mem_nickname}, #{admin_auth})
	</insert>
	
	<select id="memberTelCount" parameterType="String" resultType="int">
		select count(*) from member where mem_tel=#{mem_tel}
	</select>
	<select id="incheck" parameterType="String" resultType="int">
		select count(*) from member where mem_id=#{mem_id}
	</select>
	<select id="nicknamecheck" parameterType="String" resultType="int">
		select count(*) from member where mem_nickname=#{mem_nickname}
	</select>

	<select id="selectMemberinfoByNick" parameterType="String" resultType="memberVo">
		select * from member where mem_nickname=#{mem_nickname}
	</select>
	<select id="selectMemberinfo" parameterType="String" resultType="memberVo">
		select * from member where mem_id=#{mem_id}
	</select>
	<select id="selectIsMember" parameterType="String" resultType="int">
	 	select count(*) from member where mem_id=#{mem_id}
	</select>	
	
	<select id="selectIdPassCheck" parameterType="memberVo" resultType="int">
		select count(*) from member where mem_id=#{mem_id} and mem_pw=SHA256.ENCRYPT(#{mem_pw})
	</select>
	
	<select id="selectMemberById" parameterType="String" resultType="memberVo">
		select * from member where mem_id=#{mem_id}
	</select>
	<select id="selectMemberIdByTelAndName" parameterType="memberVo" resultType="String">
		select mem_id from member where mem_name=#{mem_name} AND mem_tel=#{mem_tel}
	</select>

	
	  <!-- 전체 회원수 -->
    <select id="totalCount" resultType="int" parameterType="map">
		select count(*) from member
		<include refid="dynamicCondition"/> <!-- 해당 조건 만족해야 실행함-->
	</select>
    
    <!-- 페이지별 회원리스트 검색포함 -->
	<select id="listByPage" parameterType="map" resultType="memberVo">
		 select A.* from 
	     (select rownum as rnum , B.* from 
	        ( select * from member where mem_name != '관리자'
	        <if test="stext != ''"><!-- 태그로 실행되는데 해당 조건 만족해야 실행함-->
    			and mem_nickname like '%'||#{stext}||'%'
    		</if>
	           order by mem_name) B
	    <!-- 캐릭터data이거 안주면 < 꺽세 기호가 태그로 인식됨 우리는 데이터로 줄거다 -->
	      <![CDATA[   
	       where rownum <= #{end}) A 
	       where A.rnum >= #{start} and A.mem_name != '관리자'
	        ]]>
	</select>
	
	<update id="updateMemberPw" parameterType="memberVo">
		update member set mem_pw = SHA256.ENCRYPT(#{mem_pw}) where mem_id=#{mem_id}
	</update>
	<update id="updatemember" parameterType="memberVo">
		update member set 
				mem_name = #{mem_name},
				mem_nickname = #{mem_nickname},
				mem_add = #{mem_add}
			<if test= "mem_tel != null and mem_name != ''">
				,mem_tel = #{mem_tel}
			</if>
			<if test= "mem_image != null and mem_image != ''">
				,mem_image = #{mem_image}
			</if>
			where mem_id=#{mem_id}
	</update>
</mapper>