<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="pcomment">
<!-- 댓글 작성 -->
<insert id="insertPcomment" parameterType="pcommentVo">
	  insert into pcomment
	    (pcomment_id, pcomment_pid, pboard_id, mem_id,pcomment_content, pcomment_cdate, pcomment_isremove)
	    values
	    (PCOMMENT_SEQ.nextval, #{pcomment_pid}, #{pboard_id}, #{mem_id}, #{pcomment_content}, SYSDATE, 'N')

	    <selectKey resultType="int" keyProperty="pcomment_id">
	    	select pcomment_seq.currval from dual
	    </selectKey>
</insert>

<!-- 댓글 리스트  -->
<select id="getAllPcomment" resultType="pcommentVo" parameterType="pcommentVo">
  
 <![CDATA[
 SELECT *
 FROM (
  SELECT rownum rn, level, pcomment_id, pcomment_pid, pboard_id, mem_id,
    LPAD(' ↳ ', 5 * (level - 1), ' ') || pcomment_content AS pcomment_content,
    CASE
      WHEN level = 1 THEN pcomment_content 
      ELSE pcomment_content 
    END AS pcomment_content,  
    CASE
      WHEN (SYSDATE - pcomment_cdate) * 24 * 60 * 60 < 60 THEN '방금전'
      WHEN (SYSDATE - pcomment_cdate) * 24 * 60 * 60 < 60 * 60 THEN CONCAT(FLOOR((SYSDATE - pcomment_cdate) * 24 * 60 * 60 / 60), '분전')
      WHEN (SYSDATE - pcomment_cdate) * 24 * 60 * 60 < 24 * 60 * 60 THEN CONCAT(FLOOR((SYSDATE - pcomment_cdate) * 24 * 60 * 60 / (60 * 60)), '시간전')
      ELSE TO_CHAR(pcomment_cdate, 'YYYY-MM-DD HH24:MI:SS')
    END
  AS pcomment_cdate, pcomment_isremove
  FROM pcomment
  WHERE pboard_id = #{pboard_id} 
  START WITH pcomment_pid = 0
  CONNECT BY PRIOR pcomment_id = pcomment_pid
  ORDER SIBLINGS BY pcomment_id DESC
) WHERE rn BETWEEN #{startPcomment} AND #{endPcomment}
    ]]>
</select>

<!-- 댓글 수정 -->
<update id="updatePcomment" parameterType="pcommentVo">
	update pcomment 
		set pcomment_content = #{pcomment_content}, pcomment_mdate = sysdate 
		where pcomment_id = #{pcomment_id}
</update> 

<!-- 댓글 수정시 삭제여부 -->
<update id="updatePcommentIsremove" parameterType="int">
	update pcomment
	set pcomment_isremove='Y'
	where pcomment_id=#{pcomment_id}
</update>

<!--댓글 수 -->
<select id="getPcomment" resultType="pcommentVo" parameterType="int">
	<![CDATA[
	select PCOMMENT_ID,PCOMMENT_PID,PBOARD_ID,MEM_ID,PCOMMENT_CONTENT,
	CASE
      WHEN (SYSDATE - Pcomment_cdate) * 24 * 60 * 60 < 60 THEN '방금전'
      WHEN (SYSDATE - Pcomment_cdate) * 24 * 60 * 60 < 60 * 60 THEN CONCAT(FLOOR((SYSDATE - pcomment_cdate) * 24 * 60 * 60 / 60), '분전')
      WHEN (SYSDATE - Pcomment_cdate) * 24 * 60 * 60 < 24 * 60 * 60 THEN CONCAT(FLOOR((SYSDATE - pcomment_cdate) * 24 * 60 * 60 / (60 * 60)), '시간전')
      ELSE TO_CHAR(pcomment_cdate, 'YYYY-MM-DD HH24:MI:SS')
    END
  AS pcomment_cdate
,PCOMMENT_MDATE,PCOMMENT_RDATE,PCOMMENT_ISREMOVE from pcomment where pcomment_id=#{pcomment_id}
  ]]>
</select>
</mapper>




