<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 mybatis에서 처리할 sql문을 작성하는 문서입니다. -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- <mapper>태그의 _namespace 속성은 Java소스에서 실행할 SQL문을 호출할 때 같이 사용되는 이름이다. -->
<mapper namespace="tboard">
<sql id="dynamicCondition">
	<where>
		<if test="!(stype=='' or sword=='')">
			${stype} like '%'||#{sword}||'%'
		</if>

	</where>
</sql>

	 <select id="selecttboardsByPage" parameterType="map" resultType="tboardVo">
select * from(
        select rownum as rn, b.*
        from (select * from tboard
                where tboard.MEM_ID in (select mem_id from member where mem_add like '%'||#{region}||'%')
                <if test="!(sword==null or sword=='')">and (tboard_title like '%'||#{sword}||'%' or tboard_content like '%'||#{sword}||'%')</if>
                <if test="!(category==null or category=='')">and category_id = #{category}</if>
                <if test="!(state==null or state=='')">and tboard_state = #{state}</if>
        		order by tboard_cdate desc) b
)
where rn between (#{page_num}-1)*12+1 and (#{page_num})*12
	 </select>

	<select id="selecttboardsByPagefromOne" parameterType="map" resultType="tboardVo">
select * from(
        select rownum as rn, b.*
        from (select * from tboard
                where tboard.MEM_ID in (select mem_id from member where mem_add like '%'||#{region}||'%')
                <if test="!(sword==null or sword=='')">and (tboard_title like '%'||#{sword}||'%' or tboard_content like '%'||#{sword}||'%')</if>
                <if test="!(category==null or category=='')">and category_id = #{category}</if>
                <if test="!(state==null or state=='')">and tboard_state = #{state}</if>
        		order by tboard_cdate desc) b
)
where rn between 1 and (#{page_num})*12
	 </select>
 
	 <select id="selecttboardInfo" parameterType="Long" resultType="tboardVo">
	 	select * from tboard where tboard_id=#{tboard_id}
	 </select>
	
	 <select id="selecttImgBytboardId" parameterType="Long" resultType="timageVo">
	 	select * from timage where tboard_ID=#{tboard_id} order by timg_id
	 </select>
	 
	 <select id="selectMylistNum" parameterType="Long" resultType="int">
	 	select count(*) from mylist where tboard_id=#{board_id}
	 </select>
	
	 <select id="selectTboardInfo" parameterType="Long" resultType="tboardVo">
	 	select * from tboard where board_id=#{board_id}
	 </select>
	 
	 <select id="incrementHit" parameterType="Long" resultType="int">
	 	update tboard
		set tboard_hit = (select tboard_hit from tboard where tboard_id=#{tboard_id})+1
		where tboard_id=#{tboard_id}

	 </select>
	 <select id="selectTboardcnt" resultType="Long">
	 	select count(*) from tboard
	 </select>
	 <select id="selectCategory" resultType="categoryVo">
	 	select * from category
	 </select>
	 <select id="selectMylist" parameterType="map" resultType="int">
	 	select count(*) from mylist where mem_id=#{mem_id} and tboard_id=#{tboard_id}
	 </select>
	 <select id="selectTnotify" parameterType="map" resultType="int">
	 	select count(*) from tnotify where mem_id=#{mem_id} and tboard_id=#{tboard_id}
	 </select>
	 
	 <select id="selectCategoryName" parameterType="String" resultType="String">
	 	select category_name from category where category_id=#{category_id}
	 </select>
	 
	 <insert id="insertImage" parameterType="timageVo">
	 	insert into timage values(timg_seq.nextval,#{tboard_id},#{timg_origin_name},#{timg_save_name})
	 </insert>
	 	
	 <insert id="insertTboard" parameterType="tboardVo">
	 	insert into tboard values(tboard_seq.nextval,#{mem_id},#{category_id},#{tboard_title},#{tboard_content},
	 							  #{tboard_state},#{tboard_price},0,sysdate,null,null,null)
	 	<selectKey resultType="Long" keyProperty="tboard_id">
	 		SELECT TBOARD_SEQ.CURRVAL from dual
	 	</selectKey> 
	 </insert>
	 
	 <select id="selectImage" parameterType="long" resultType="timageVo">
	 	select * from timage where timg_id=#{timg_id}
	 </select>
	 
	 <insert id="insertMylist" parameterType="map">
	 	insert into mylist values(#{mem_id},#{tboard_id})
	 </insert>
	 
	 <insert id="insertTnotify" parameterType="map">
	 	insert into Tnotify values(#{mem_id},#{tboard_id})
	 </insert>
	 
	  <delete id="deleteMylist" parameterType="map">
	 	delete from mylist where mem_id=#{mem_id} and tboard_id=#{tboard_id}
	 </delete>
	 
	 <delete id="deleteTnotify" parameterType="map">
	 	delete from Tnotify where mem_id=#{mem_id} and tboard_id=#{tboard_id}
	 </delete>
	 
	 <delete id="deleteTboard" parameterType="Long">
	 	delete from tboard where tboard_id=#{tboard_id}
	 </delete>
	 
	 <update id="updateTboard" parameterType="tboardVo">
	 	update tboard set category_id=#{category_id}, tboard_price=#{tboard_price}
	 	,tboard_title=#{tboard_title},tboard_state=#{tboard_state},tboard_content=#{tboard_content},
	 	tboard_mdate=sysdate  where tboard_id=#{tboard_id}
	 </update>
	        
	 <delete id="deleteTimages" parameterType="Long">
	 	delete from timage where tboard_id=#{tboard_id}
	 </delete>
	 <select id="selectTboardRecommend" resultType="tboardVo" parameterType="map">
	 	SELECT * FROM
		( SELECT * FROM tboard where category_id=#{category} and mem_id in(select mem_id from member where mem_add=#{mem_add})
		and tboard_id!=#{tboard_id} ORDER BY dbms_random.value )
		<![CDATA[WHERE rownum <=#{cnt}]]>
	 </select>
	 <select id="selectMyWishList" resultType="myTboardVo" parameterType="Map">
		select z.*, rownum
		from 
		(select a.tboard_title, a.tboard_completedate, a.tboard_price, a.tboard_id, a.mem_id, a.tboard_state, m.mem_add,
		       (select timg_id from timage e where e.timg_id = (select min(timg_id) from timage t where a.tboard_id = t.tboard_id)) as tboard_imgno, 
		(select count(*) from mylist y where y.tboard_id = a.tboard_id) as wishcnt
		from tboard a
		inner join mylist b on (a.tboard_id = b.tboard_id) 
		inner join member m on(m.mem_id = a.mem_id) 
		where b.mem_id=#{mem_id}
		order by a.tboard_id desc) z
		where rownum between 1 and 6*to_number(#{more})
	 </select>
	 
	 <select id="selectMyTboardList" resultType="myTboardVo" parameterType="Map">
		select e.*, rownum
		from 
		        (select a.tboard_id, a.mem_id, a.tboard_title, a.tboard_completedate, a.tboard_state, 
		               a.tboard_price, a.tboard_hit, 
		               (select min(b.timg_id) from timage b where a.tboard_id = b.tboard_id) tboard_imgno,
		               (select count(*) from mylist c where c.tboard_id = a.tboard_id) as wishcnt,
		               mem_add
		        from tboard a 
		        inner join member d on (a.mem_id = d.mem_id)
		        where a.mem_id = #{mem_id}
		        order by a.tboard_id desc) e
		where rownum between 1 and 6*to_number(#{more})
	 </select>
	 
	 <update id="updateTboardCompleteDate" parameterType="int">
	 	update tboard set tboard_completedate = sysdate where tboard_id = to_number(#{tboard_id})
	 </update>
	 <update id="updateTboardCompleteDateNull" parameterType="int">
	 	update tboard set tboard_completedate = null where tboard_id = to_number(#{tboard_id})
	 </update>
	 <select id="selectTboardState" parameterType="int" resultType="String">
	 	select tboard_state from tboard where tboard_id = to_number(#{tboard_id})
	 </select>
</mapper>

