<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="tcomment">
<!-- 댓글 작성 -->
<insert id="insertTcomment" parameterType="tcommentVo">
	  insert into tcomment
	    (tcomment_id, tcomment_pid, tboard_id, mem_id, tcomment_content, tcomment_cdate, tcomment_isremove)
	    values
	    (TCOMMENT_SEQ.nextval, #{tcomment_pid}, #{tboard_id}, #{mem_id}, #{tcomment_content}, SYSDATE, 'n')

	    <selectKey resultType="int" keyProperty="tcomment_id">
	    	select tcomment_seq.currval from dual
	    </selectKey>
</insert>

<!--댓글 수 -->
<select id="getTcomment" resultType="tcommentVo" parameterType="int">
	<![CDATA[
	select TCOMMENT_ID,TCOMMENT_PID,TBOARD_ID,MEM_ID,TCOMMENT_CONTENT,
	CASE
      WHEN (SYSDATE - tcomment_cdate) * 24 * 60 * 60 < 60 THEN '방금전'
      WHEN (SYSDATE - tcomment_cdate) * 24 * 60 * 60 < 60 * 60 THEN CONCAT(FLOOR((SYSDATE - tcomment_cdate) * 24 * 60 * 60 / 60), '분전')
      WHEN (SYSDATE - tcomment_cdate) * 24 * 60 * 60 < 24 * 60 * 60 THEN CONCAT(FLOOR((SYSDATE - tcomment_cdate) * 24 * 60 * 60 / (60 * 60)), '시간전')
      ELSE TO_CHAR(tcomment_cdate, 'YYYY-MM-DD HH24:MI:SS')
    END
  AS tcomment_cdate
,TCOMMENT_MDATE,TCOMMENT_RDATE,TCOMMENT_SECRET,TCOMMENT_ISREMOVE from tcomment where tcomment_id=#{tcomment_id}
  ]]>
</select>

<!-- 댓글 리스트  -->
<select id="getAllTcomment" resultType="tcommentVo" parameterType="tcommentVo">
    
  <![CDATA[
 SELECT *
FROM (
  SELECT rownum rn, level, tcomment_id, tcomment_pid, tboard_id, mem_id,
    tcomment_content , 
    CASE
      WHEN (SYSDATE - tcomment_cdate) * 24 * 60 * 60 < 60 THEN '방금전'
      WHEN (SYSDATE - tcomment_cdate) * 24 * 60 * 60 < 60 * 60 THEN CONCAT(FLOOR((SYSDATE - tcomment_cdate) * 24 * 60 * 60 / 60), '분전')
      WHEN (SYSDATE - tcomment_cdate) * 24 * 60 * 60 < 24 * 60 * 60 THEN CONCAT(FLOOR((SYSDATE - tcomment_cdate) * 24 * 60 * 60 / (60 * 60)), '시간전')
      ELSE TO_CHAR(tcomment_cdate, 'YYYY-MM-DD HH24:MI:SS')
    END
  AS tcomment_cdate, tcomment_isremove
  FROM tcomment
  WHERE tboard_id = #{tboard_id}
  START WITH tcomment_pid = 0
  CONNECT BY PRIOR tcomment_id = tcomment_pid
  ORDER SIBLINGS BY tcomment_id DESC
) WHERE rn BETWEEN #{startTcomment} AND #{endTcomment}
    ]]>
</select>

<!-- 댓글 수정 -->
<update id="updateTcomment" parameterType="tcommentVo">
	update tcomment 
		set tcomment_content = #{tcomment_content}, tcomment_mdate = sysdate
		where tcomment_id = #{tcomment_id}
</update> 

<!-- <select id="selectChildIsExist" parameterType="int" resultType="int">
	select count(*) from tcomment where tcomment_pid=#{tcomment_id}
</select> -->

<!-- 댓글 수정시 삭제여부 -->
<update id="updateTcommentIsremove" parameterType="int">
	update tcomment
	set tcomment_isremove='y'
	where tcomment_id=#{tcomment_id}
</update>


</mapper>

